/*
ESTILOS.CSS

Blog:  www.render2web.com
Autor:  José Andrés Montoya
Canal: www.youtube.com/render2web

Suscríbete a mi canal, redes y sitio web, de esta manera apoyas mi trabajo
*/

html,
body {
    height: 100%;
}

.carousel-item img{
	max-height: 600px;
}

img {
    max-width: 100%;
}

img-carousel{
     max-height: 80%;
     min-height: 40%;
}

.div-mision{
	/*background-color:#3F92CC;*/
	/*background: rgba(0,0,0,0.8);*/
	/*background: #81CCC3;*/
	background:#110538;
	padding:30px;
	color:#EBE1DB;
}

.text-ul li a{
	color:#ffffff;
}

.brand{
	font-weight: bold;
}
#carousel{
    max-height: 80%;
    overflow: hidden; 
}

/* cover#cover {
    background: #222 url('../img/night-sky-2284594.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-texto {
    width: 100%;
    
}

#cover-texto .form-inline{
    width: 100%;
}
 */
#docentes{
	background: url('../img/plana_docente.jpg') center ;
	background-size: cover;	
}
#alumnos{
	 background: url('../img/alumnos.jpg') center ;
	 background-size: cover; 
}
.contenido-seccion {
    padding: 11rem 0;
    margin: 0;
}

#acerca-de {
    /*background: url('../img/portrait-787522_1920.jpg') center center no-repeat;*/

    background: url('../img/portrait.jpg') center center no-repeat;
    background-size: cover;
}


#plana-docente {
    /*background: url('../img/portrait-787522_1920.jpg') center center no-repeat;*/

    /*background: url('../img/plana_docente.jpg') center center no-repeat;
    background-size: cover;*/
}

.texto-acerca-de {
    /*background: rgba(0,0,0,0.8);*/
	background:#110538;
    color: white;
    padding: 1.875rem;
}
/*
.texto-acerca-de h3{
	color:#0275d8;
}*/	
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
